﻿<div class="card-deck mb-3 text-center">
    <div class="card">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Difference in fuel consumption</h4>
        </div>
        <div class="card-text">
            <h2>@FuelUsage l</h2>
            <p>At 1.625€/l, this would be equivalent to @(Math.Round(FuelUsage * 1.625, 2))€ in cash</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Difference in time usage</h4>
        </div>
        <div class="card-text">
            <h2 class="my-1">@TimeDifference</h2>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public double FuelUsage { get; set; }
    [Parameter]
    public string TimeDifference { get; set; }
    }