﻿<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h3 class="lead">Select car</h3>
    <div class="card-deck mb-3 text-center">
        @foreach (var car in cars)
        {
            <div class="card mb-4 box-shadow" style="min-width: 175px" @onclick="() => SelectCar(car)">
                <div class="card-header @car.Attribs">
                    <h4 class="my-0 font-weight-normal">Car @car.Name</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">@car.BaseConsumption l/100km</h1>
                    <p>at speed of 1 km/h</p>
                    @if (data.DataIsValid)
                    {
                        <div class="card-deck mb-2">
                            <ConsumptionDisplay Speed=@data.Speed1 Distance=@data.Distance Car=@car />
                            <ConsumptionDisplay Speed=@data.Speed2 Distance=@data.Distance Car=@car />
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <h3 class="lead">Enter speed and distance information</h3>

    <EditForm Model=@data OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
        <DataAnnotationsValidator />
        <div class="card-deck mb-3 text-center">
            <div class="card form-group">
                <div class="card-header">
                    <h2 class="card-title">Speed 1 (km/h)</h2>
                </div>
                <InputNumber @bind-Value=@data.Speed1 class="form-control text-center" onclick="select()"/>
                <ValidationMessage For="() => data.Speed1" />
            </div>
            <div class="card form-group">
                <div class="card-header">
                    <h2 class="card-title">Speed 2 (km/h)</h2>
                </div>
                <InputNumber @bind-Value=@data.Speed2 class="form-control text-center" onclick="select()"/>
                <ValidationMessage For="() => data.Speed2" />
            </div>
            <div class=" card form-group">
                <div class="card-header">
                    <h2 class="card-title">Distance (km)</h2>
                </div>
                <InputNumber @bind-Value=@data.Distance class="form-control text-center" onclick="select()"/>
                <ValidationMessage For="() => data.Distance" />
            </div>
        </div>
    </EditForm>

    @if (data.DataIsValid && cars.Any(c => c.Active))
    {
        <ConsumptionComparison FuelUsage=@GetFuelUsageDifference(data.Speed1, data.Speed2, data.Distance, data.selectedCar)
                               TimeDifference=@GetTimeUsageDifference(data.Speed1, data.Speed2, data.Distance) />
    }
</div>



@code {
    private ConsumptionData data = new ConsumptionData();

    private List<Car> cars = new List<Car>()
{
        new Car() { Name = "A", BaseConsumption = 3.0 },
        new Car() { Name = "B", BaseConsumption = 3.5 },
        new Car() { Name = "C", BaseConsumption = 4.0 }
    };

    private void SelectCar(Car car)
    {
        //Clear car activity data
        cars.ForEach(c => { c.Attribs = ""; c.Active = false; });
        //Set active car
        data.selectedCar = car;
        car.Attribs = "bg-primary";
        car.Active = true;
        //Prevent calculations with invalid data if changing cars
        data.DataIsValid = false;
    }

    private double GetFuelUsageDifference(double speed1, double speed2, double distance, Car car)
    {
        if (car == null) return 0;
        return Math.Round(Math.Abs(car.GetConsumption(speed1, distance) - car.GetConsumption(speed2, distance)), 2);
    }

    private string GetTimeUsageDifference(double speed1, double speed2, double distance)
    {
        if (data.selectedCar == null) return "0 minutes";
        var diff = speed1 > speed2 ? Car.GetDriveTime(speed2, distance) - Car.GetDriveTime(speed1, distance)
                                   : Car.GetDriveTime(speed1, distance) - Car.GetDriveTime(speed2, distance);
        return $"{Math.Floor(diff.TotalHours)} hours, {diff.Minutes} minutes, {diff.Seconds} seconds";
    }

    private void ValidSubmit()
    {
        data.DataIsValid = true;
    }

    private void InvalidSubmit()
    {
        data.DataIsValid = false;
    }

    protected override bool ShouldRender()
    {
        //Overriden to add validity check to data to prevent display of calculations with invalid data
        //Blazor @bind-Value and onchange limitations prevent doing this in better ways
        data.SetValidity();
        return base.ShouldRender();
    }

    class ConsumptionData
    {
        public Car selectedCar { get; set; }
        [Range(0, 300, ErrorMessage = "Speed must be between 0 and 300 km/h")]
        public double Speed1 { get; set; }
        [Range(0, 300, ErrorMessage = "Speed must be between 0 and 300 km/h")]
        public double Speed2 { get; set; }
        [Range(0, 30000, ErrorMessage = "Distance must be between 0 and 30000 km")]
        public double Distance { get; set; }
        public bool DataIsValid { get; set; }

        public void SetValidity()
        {
            DataIsValid = (Speed1 >= 0 && Speed1 <= 300) &&
                          (Speed2 >= 0 && Speed2 <= 300) &&
                          (Distance >= 0 && Distance <= 30000);
        }
    }
}