﻿@if (Car != null)
{
    <div class="card" style="min-width: 150px">
        <div class="card-header">@Speed km/h</div>
        <ul class="list-unstyled mt-3 mb-4">
            <li>@averageConsumption liters/100km</li>
            <li>Total @consumption liters</li>
            <li>Drive time @(driveTime.Days)d, @(driveTime.Hours)h, @(driveTime.Minutes)m</li>
        </ul>
    </div>
}

@code {
    [Parameter]
    public double Speed { get; set; } = 0;

    [Parameter]
    public double Distance { get; set; } = 0;

    [Parameter]
    public Car Car { get; set; }

    private double consumption = 0;
    private double averageConsumption = 0;
    private TimeSpan driveTime = new TimeSpan(0);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Car != null)
        {
            consumption = Car.GetConsumption(Speed, Distance);
            averageConsumption = Car.GetConsumptionPer100km(Speed);
            driveTime = Car.GetDriveTime(Speed, Distance);
        }
    }
}
